button.btn.btn-default.invalidate {
	padding: 3px 6px;
	font-size: 85%;
	color: grey;
}

.checkbox {
	margin-left: 15px;
	margin-top: 20px;
}

.container {
	margin-top: 10px;
}

div.submit {
	margin-top: 30px;
}

.form-group {
	margin: 5px auto;
}

.nav-pills>li>a:hover {
	background-color: white;
	color: red;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
	background-color: white;
	color: #337ab7;
	font-size: 120%;
}
