<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Management</a></li>
  <li role="presentation"><a href="monitoring">Monitoring</a></li>
  <li role="presentation"><a href="history">History</a></li>
</ul>
<div class="container-fluid">

	<div class="filter">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm">
			<a href="filters">Filters</a>
		</button>
	</div>

	<!-- This is just a sample table of feeds -->
	<table class="table table-hover table-condensed">
		<thead>
		  <tr>
		    <th>Name&nbsp;<span class="caret"></span></th>
		    <th>Type&nbsp;<span class="caret"></span></th>
		    <th>Campaigns</th>
		    <th>Tags</th>
		    <th>Active&nbsp;<span class="caret"></span></th>
		    <th>Actions</th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td><a href="feeds/:id/edit">br_petz</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>1</td>
		    <td>0</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">fr_ford_static</a></td>
		    <td><a href="feeds/:id/edit">CsvNoPrice</a></td>
		    <td>2</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">fr_toupargel_dpa</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>1</td>
		    <td>3</td>
		    <td></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">nl_rad</a></td>
		    <td><a href="feeds/:id/edit">Csv</a></td>
		    <td>3</td>
		    <td>1</td>
		    <td></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">de_adticket</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>0</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">br_onevesst</a></td>
		    <td><a href="feeds/:id/edit">Csv</a></td>
		    <td>1</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>︎</td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">fr_debonix</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>1</td>
		    <td>2</td>
		    <td></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">fr_toupargel_dpa</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>1</td>
		    <td>3</td>
		    <td></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">nl_rad</a></td>
		    <td><a href="feeds/:id/edit">Csv</a></td>
		    <td>3</td>
		    <td>1</td>
		    <td></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">de_adticket</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>0</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">br_onevesst</a></td>
		    <td><a href="feeds/:id/edit">Csv</a></td>
		    <td>1</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		  <tr>
		    <td><a href="feeds/:id/edit">fr_debonix</a></td>
		    <td><a href="feeds/:id/edit">Custom</a></td>
		    <td>1</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><a href="products"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></a></td>
		    <td><a href="feed-history"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></a></td>
		  </tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

</div>


