<div class="container-fluid">

	<div class="dropdown">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filters
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><app-filters></app-filters></li>
	  </ul>
	</div>

	<!-- This is just a sample table of feeds -->
	<table class="table table-hover table-condensed">
		<thead>
		  <tr>
		    <th>Name&nbsp;<span class="caret"></span></th>
		    <th>Type&nbsp;<span class="caret"></span></th>
		    <th>Campaigns</th>
		    <th>Tags</th>
		    <th>Active&nbsp;<span class="caret"></span></th>
		    <th>Actions</th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td>br_petz</td>
		    <td>Custom</td>
		    <td>1</td>
		    <td>0</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>fr_ford_static</td>
		    <td>CsvNoPrice</td>
		    <td>2</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>fr_toupargel_dpa</td>
		    <td>Custom</td>
		    <td>1</td>
		    <td>3</td>
		    <td></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>nl_rad</td>
		    <td>Csv</td>
		    <td>3</td>
		    <td>1</td>
		    <td></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>de_adticket</td>
		    <td>Custom</td>
		    <td>0</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>br_onevesst</td>
		    <td>Csv</td>
		    <td>1</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>︎</td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>fr_debonix</td>
		    <td>Custom</td>
		    <td>1</td>
		    <td>2</td>
		    <td></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>fr_toupargel_dpa</td>
		    <td>Custom</td>
		    <td>1</td>
		    <td>3</td>
		    <td></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>nl_rad</td>
		    <td>Csv</td>
		    <td>3</td>
		    <td>1</td>
		    <td></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>de_adticket</td>
		    <td>Custom</td>
		    <td>0</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>br_onevesst</td>
		    <td>Csv</td>
		    <td>1</td>
		    <td>1</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		  <tr>
		    <td>fr_debonix</td>
		    <td>Custom</td>
		    <td>1</td>
		    <td>2</td>
		    <td><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></td>
		    <td><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Products</span></td>
		    <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> History</span></td>
		  </tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

</div>


