<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
      	<a class="navbar-brand" href="#">{{title}}</a>
      	<img src="./assets/rakuten_marketing_logo.png" alt="Rakuten Logo" style="width:120px;">  	
      </div>
    </div>

		<div class="nav navbar-nav navbar-right">
			<a routerLink="/feeds/:id/new" routerLinkActive="active"><button type="button" class="btn btn-primary navbar-btn">Create New Feed <span class="glyphicon glyphicon-plus-sign"></span></button></a>
      <div class="btn-group" dropdown>
        <button type="button" id="split-button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span></button>
        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li><button class="btn btn-link" (click)="logout()">Logout</button></li>
        </ul>
      </div>
    </div>
	</div>
</nav>

<router-outlet></router-outlet>
