<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Management</a></li>
  <li role="presentation"><a href="monitoring">Monitoring</a></li>
  <li role="presentation"><a href="history">History</a></li>
  <li role="presentation" class="active"><a href="feeds/:id/new">Edit Feed</a></li>
</ul>

<div class="row">
	<ul class="nav nav-pills col-md-9 col-md-offset-3">
		<li role="presentation"><a routerLink="/feeds/:id/new">General</a></li>
	  <li role="presentation"><a href="loading-parameters">Loading Parameters</a></li>
	  <li role="presentation"><a href="rewriting-parameters">Rewriting Parameters</a></li>
	  <li role="presentation"><a href="advanced-parameters">Advanced Parameters</a></li>
	  <li role="presentation"><a href="loading-results">Loading results</a></li>
	  <li role="presentation" class="active"><a href="products">Products</a></li>
	  <li role="presentation"><a href="feed-history">Feed History</a></li>
	</ul>
</div>

<div class="container">
	<div>
		<img src="../../assets/couchbaselogo.png" alt="couchbase_logo" height="35">
		<button class="btn btn-default products">Top products</button>
		<!-- <button class="btn btn-default products">All products</button> -->
	</div>

	<div class="row">

		<div class="col-md-2">
			0 products<br>Pages 1/1
		</div>

		<div class="col-md-3">
			<input type="id" class="form-control" id="inputID" placeholder="ID">
		</div>

		<div class="col-md-1"> 
		  <div class="input-group spinner">
		    <input type="text" class="form-control" value="20">
		    <div class="input-group-btn-vertical">
		      <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
		      <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
		    </div>
		  </div>
			<script>
		    (function ($) {
				  $('.spinner .btn:first-of-type').on('click', function() {
				    $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
				  });
				  $('.spinner .btn:last-of-type').on('click', function() {
				    $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
				  });
				})(jQuery);
			</script> <!-- It's not functioning -->
		</div>
		<div class="col-md-5 col-md-offset-1">
			<button type="submit" class="btn btn-default">Search</button>
			<button type="submit" class="btn btn-default">Search Active</button>
			<button type="submit" class="btn btn-default">Reset</button>
		</div>
	</div> <!-- Row ended -->
	
	<div class="filter-contents">
		<!-- <p>Filters&nbsp;<span class="rotate270 caret"></span></p> -->
		<p>Filters&nbsp;<span class="caret"></span></p>

		<form class="form-horizontal">

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Is active
			    </label>
			  </div>
			  <div class="content col-md-8">
		  		<select name="isactive" id="isactive">
		  			<option value="1" selected="selected"></option>
		  			<option value="2">Yes</option>
						<option value="3">No</option>
		  		</select>
		  	</div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Id
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="id" id="id">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Title
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="title" id="title">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Description
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="description" id="description">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Price
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="price" id="price">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2"><=</option>
						<option value="3"><</option>
						<option value="4">=></option>
						<option value="5">></option>
						<option value="6">between</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Price old
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="priceold" id="priceold">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2"><=</option>
						<option value="3"><</option>
						<option value="4">=></option>
						<option value="5">></option>
						<option value="6">between</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Url product
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="urlproduct" id="urlproduct">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-4">
			    <label>
			      <input type="checkbox"> Update at
			    </label>
			  </div>
			  <div class="content col-md-1">
		  		<select name="updateat" id="updateat">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>

			<div class="form-group">
				<div class="col-md-2">
			    <label>
			      <input type="checkbox"> Custom
			    </label>
			  </div>
			  <div class="content col-md-2">
		  		<select name="custom" id="custom">
		  			<option value="1" selected="selected"></option>
		  			<option value="2">competitor1_name</option>
						<option value="3">competitor1_rate</option>
						<option value="4">competitor2_name</option>
						<option value="5">competitor2_rate</option>
						<option value="6">dispo/option>
						<option value="7">duree</option>
						<option value="8">installment_amount</option>
						<option value="9">installment_count</option>
						<option value="10">is_new</option>
						<option value="11">legal_notice</option>
						<option value="12">market_position</option>
						<option value="13">reviewNumber</option>
						<option value="14">reviewStars</option>
						<option value="15">reviewText</option>
						<option value="16">reviewTitle</option>
						<option value="17">special</option>
						<option value="18">tranche_de_montant</option>
						<option value="19">up_price</option>
						<option value="20">up_quantity</option>
						<option value="21">up_unit</option>
		  		</select>
		  	</div>
		  	<div class="content col-md-1">
		  		<select name="updateat" id="updateat">
		  			<option value="1" selected="selected">=</option>
		  			<option value="2">contain</option>
						<option value="3">look like</option>
		  		</select>
		  	</div>
		  	<div class="col-md-3">
		  		<input class="form-control in-filter">
		  	</div>
		  	<div class="col-md-2">
		  		<input type="checkbox">
			  </div>
			</div>



			<div class="form-group">
				<div class="col-md-2">
			    <label>Order by</label>
			  </div>
			  <div class="content col-md-3">
		  		<select name="orderby" id="orderby">
		  			<option value="1" selected="selected"></option>
		  			<option value="2">price</option>
						<option value="3">price_old</option>
						<option value="4">updated_at</option>
						<option value="5">is_active</option>
						<option value="6">custom.dispo</option>
						<option value="7">custom.installment_amount</option>
						<option value="8">custom.installment_count</option>
						<option value="9">custom.reviewStars</option>
						<option value="10">custom.up_price</option>
		  		</select>
		  	</div>
		  	<div class="content col-md-1">
		  		<select name="updateat" id="updateat">
		  			<option value="1" selected="selected">desc</option>
		  			<option value="2">asc</option>
		  		</select>
		  	</div>
			</div>

		</form>
	</div> <!-- filter_contents ends -->

	<div class="filter-contents">
		<!-- <p>Options&nbsp;<span class="rotate270 caret"></span></p> -->
		<p>Options&nbsp;<span class="caret"></span></p>

		<form class="form-horizontal">

			<div class="form-group">
				<div class="row">

					<div class="col-md-4">

						<div class="col-md-8">
				    	<label>is_active (bool)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>_id (id)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>title (string)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>description (string)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>price (float)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>price_old (float)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>custom (json)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>category (string)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>url_image (image)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>url_product (link)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  	<div class="col-md-8">
				    	<label>views (number)</label>
				  	</div>
				  	<div class="col-md-4">
				  		<span class="glyphicon glyphicon-minus-sign text-danger"></span>
				  	</div>

				  </div> <!-- col-md-4 ends -->

				  <div class="col-md-8">

				  	<div class="col-md-4">
				  		<label>Add a new custom column<br>("." for depth)</label>
				  	</div>

				  	<div class="col-md-4">
				  		<input class="form-control in-filter" placeholder="Name field">
				  	</div>

				  	<div class="content col-md-1">
				  		<select name="orderby" id="orderby">
				  			<option value="1" selected="selected">String</option>
				  			<option value="2">bool</option>
								<option value="3">date</option>
								<option value="4">float</option>
								<option value="5">number</option>
								<option value="6">json</option>
								<option value="7">image</option>
								<option value="8">link</option>
								<option value="9">id</option>
				  		</select>
				  	</div>

				  	<div class="col-md-1 col-md-offset-1">
				  		<input class="form-control in-filter" placeholder="0">
				  	</div>

				  	<div class="col-md-1">
				  		<span class="glyphicon glyphicon-plus-sign text-success"></span>
				  	</div>

				  </div> <!-- col-md-8 ends -->

				</div> <!-- row ends -->
			</div>
		</form>

	</div> <!-- filter-contents ends -->

	<footer>
		<span>Active</span>
		<span>Id</span>
		<span>Title</span>
		<span>Description</span>
		<span>Price</span>
		<span>Price Old</span>
		<span>Custom</span>
		<span>Category</span>
		<span>Image</span>
		<span>URL</span>
		<span>Clics</span>
		<span>Views</span>
	</footer>


</div>